:root {
  --primary: #3E4756; /* 30 */
  --primary-hover: #2d343f;
  --secondary: #5C5B7C; /* 60 */
  --secondary-hover: #51506d;
  --accent: #8E5063; /* 10 */
  --accent-hover: #774453;
  --white: #f5f5f5;
}


h1, h2, h3, h4, h5, p, span {
  margin: 0;
}


